.list-wrapper {
  margin-right: -1.5em;
  margin-bottom: -1.5em;
}

.list-wrapper > div {
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  gap: 1.5em;
}

.history-item-wrapper > .question {
  min-height: 64px;
  padding-left: 1em;
}

.history-item-wrapper img {
  height: 64px;
  float: left;
  margin-left: -1em;
  margin-right: 1em;
  shape-outside: ellipse(50% 35%);
}

.history-item-wrapper audio {
  width: 100%;
}

.history-item-wrapper h1,
.history-item-wrapper h4 {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.history-item-wrapper .stat-big {
  text-align: center;
  font-size: 1.7em;
  font-family: "Baloo Chettan 2", sans-serif;
}

.history-item-wrapper .stat-small {
  text-align: center;
  font-size: 1.2em;
  font-family: "Baloo Chettan 2", sans-serif;
}
