@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 1.5em;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.wrapper > * {
  margin: 0;
}

.loading-wrapper {
  height: 100%;
  gap: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-wrapper > .spinner {
  border: 4px solid #b6b5b0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border-top-color: #4193bf;
  animation: 1.5s linear infinite spinner;
}
